<div class="container my-5">
  <!-- Navbar logo w/ temp -->
  <div class="d-flex justify-content-between mb-3">
    <div class="d-flex align-items-center">
      <h1>ToFi</h1>
    </div>
    <div class="d-flex">
      <div class="d-flex align-items-center px-4 py-2 weather-condition">
        {{weather.conditions}}
      </div>
      <div class="px-4 py-2 weather-condition">
        <h1>{{weather.temperature}}</h1>
        <div>{{weather.where}}</div>
      </div>
    </div>
  </div>

  <h1>Category</h1>
  <div class="back mb-4" onClick="back()">&#8592; Back to Homepage</div>

  <div class="d-flex flex-wrap">
    {{#each playlists.items}}
    <div class="px-2">
      <img width=200 src={{this.images.[0].url}} alt="">
      <h6>{{this.name}}</h6>
    </div>
    {{/each}}
  </div>
</div>

<script>
  function back() {
    window.history.back();
  }
</script>